<div class="top">

<h1><p>ようこそ</p>Bookers<span>へ！</span></h1>
</div>

<div class="top-sentence">
    <tr>
<span><p>Bookers</p>では、さまざまな書籍に関するあなたの意見や</span>
</div>

<div class="top-1sentence">

<th>印象を共有し交換することができます</th>
</tr>
</div>

<div class="start-link">
<span> <%= link_to 'start' , books_path %></span>
</div>